<!--The content below is only a placeholder and can be replaced.-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->


    <!-- productname Column -->
    <ng-container matColumnDef="productname">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
    </ng-container>

    <!-- code Column -->
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- cartprice Column -->
    <ng-container matColumnDef="cartprice">
        <th mat-header-cell *matHeaderCellDef> Cartprice </th>
        <td mat-cell *matCellDef="let element"> {{element.cartprice}} </td>
    </ng-container>

    <!-- available Column -->
    <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> available </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- qty Column -->
    <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> qty </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="addToCart(element)" color="primary" >ADD</button>
            </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="handleRowClick(row)"></tr>
</table>